# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local

# Lint cache
.eslintcache

# Logs
*.log

# backend
logs/
app/
data/
static/
config.yaml
.openmoss.pid
.venv
